@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Montserrat&display=swap');

body {
  margin: 0;
  background:  #0E1014;
  font-family: 'Inter', sans-serif;
  color: #E4E5EA;
}
li{
  list-style-type: none;
}
ul{
  padding: 0
}

